body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-family: "Inter", sans-serif !important;
  height: 100vh !important;
}
html {
  height: 100vh !important;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.youtube-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
